.App {
  text-align: center;
  font-family: 'Noodletitling';
  width: 100%;
  overflow-x: hidden;
}
@font-face {
  font-family: 'Noodletitling';
  src: url(./big_noodle_titling.ttf);
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

/** prueba **/
.navbar {
  background-color: none;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  width: 100%;
  z-index: 50;
}

.menu-bars {
  margin-right: 20px;
  font-size: 40px;
  color: white;
}
.menu-bars:hover {
  color: white;
}
.menu-bars svg:hover {
  color: #d1cfcf;
}
.close-bars {
  margin-right: 20px;
  font-size: 40px;
  color: white;
}
.close-bars:hover {
  color: white;
}
.close-bars svg:hover{
  color: rgb(121, 107, 107);
}
.nav-menu {
  background-color: #02021b;
  width: 100%;
  height: 100vh;
  display: inline-block;
  justify-content: center;
  position: fixed;
  top: 0;
  right: -100%;
  transition: 850ms;
  z-index: 49;
}

.nav-menu.active {
  right: 0;
  transition: 350ms;
  width: 100%;
  font-size: 50px;
  display: inline-block;
  z-index: 51;
}  

.nav-text {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 8px 0px 8px 16px;
  list-style: none;
  height: 60px;
}

.nav-text a {
  text-decoration: none;
  color: #f5f5f5;
  font-size: 18px;
  width: 95%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 16px;
  border-radius: 4px;
}

.logo_container {
  margin-left:15px;
}

.nav-menu-items {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 0;
}
.nav-menu-items a:hover{
  color: rgb(121, 107, 107);
}
.nav-menu-items li {
  list-style: none;
  margin: 20px;

}
.nav-menu-items li a {
  color: white;
  text-decoration: none;
}

.navbar-toggle {
  background-color: #060b26;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.nav-menu-close-container{
  height: 10%;
  display: flex;
  justify-content: flex-end;
  padding-top: 20px;
}
.nav-menu-items-container {
  height: 80%;
  display: flex;
  align-items: center;
}
span {
  margin-left: 16px;
}

/**Footer **/
footer {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3,auto);
  padding: 40px 20px;
  letter-spacing: 1px;
  color: white;
  background: #0b0b0b;
  
}

.footer_logo {
  grid-row: 1/3;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 2px solid white;
}

.footer_item {
  margin: 5px 30px;
}

.footer_item h4 {
  font-weight: 600;
}

.footer_item a {
  color: white;;
}
.footer_item a i {
  margin: 0 5px;
}

.footer_item a:hover {
  background: none;
  color: black;
}

/**Footer **/

/**Home**/
.hotelwall {
  height: 100vh;
  background-image: url(./hotelwallpaper.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.section_background::before{
    content:'';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.4);
}
.section_overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  border-radius: calc(.25rem - 1px);
  display: inline-flex;
  justify-content: flex-start;
  text-align: initial;
  align-items: center;
  color: white;
  font-size: 25px;
  margin: auto;
}
.section_overlay_text h1{
  font-size: 50px;
}
.section_overlay_text {
  font-size: 30px;
  margin: 0 50px;
}
.reservar_button {
  border-radius: 5px;
  font-size: 17px;
  border: 2px solid white;
  padding: 8px 30px;
  letter-spacing: 1.5px;
  background: none;
  color: white;
}

.reservar_button i {
  padding-left: 5px;
}

.reservar_button:hover {
  background-color: whitesmoke;
  color: black;
  border: 1px solid rgba(255,255,255,.5);
}

/**Home**/
.container {
  width: 300px;
  height: 200px;
  background: url(https://picsum.photos/id/1002/800/800) center/cover;
  overflow: hidden;
}

.box {
  height: 70%;
  transform: skewY(-15deg);
  transform-origin: left;
  position: relative;
  overflow: hidden;
}

.box:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url(https://picsum.photos/id/12/800/800) center/cover;
  transform: skewY(15deg);
  transform-origin: left;
}
.video_container {
  width: 100%;
  object-fit: cover;
}

/** Nosotros estilos **/

/** Nosotrs estilos **/
/**Insta estilos**/
.instalaciones_container {
  background-color: ghostwhite;
  color: #a0a0a0;
}
.instalaciones_overlay {
  padding-top: 80px;
  padding-bottom: 50px;
  text-align: center;
}
.instalaciones_overlay p {
  font-size: 45px;
}
.text_insta_items p {
  max-width: 500px;
}

.instalaciones_items_container{
  padding: 20px 20px;
  text-align: initial;
  width: 70%;
  margin: auto;
}
.instalaciones_items {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-template-rows: repeat(3,auto);
  align-items: center;
  gap: 10px;
  margin: 40px 0;
  overflow: hidden;
}
.items_container {
  display: flex;
}
.items_img {
  width: 100%;
  border-radius: 8px;
}

/**Insta estilos**/
/** Diferencias estilos**/
#Diferencias {
  background-color: #04040f;
}
.diferencias_container {
  display: inline-block;
  margin: 50px 0;
  width: 60%;
  color: white;
}
.main_title_container {
  font-size: 40px;
  padding-bottom: 50px;
  letter-spacing: 6px;
}
.diferencias_container strong {
  margin: 50px 0;
}
.diferencias_items_container{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: repeat(1,auto);
  gap: 40px;
}
.diferencias_item {
  display: flex;
  justify-content: center;
}
.item {
  text-align: initial;
}
.item_layout {
  margin: 20px 0;
}
.item_title {
  font-size: 23px;
  letter-spacing: 2px;
}
.item_title strong i {
  padding-right: 10px;
}
.flower {
  width: 40vw;
  margin-bottom: 50px;
}



/**Notros estilos**/
/** Diferencias estilos**/
#Diferencias {
  background-color: #04040f;
}
.diferencias_container {
  display: inline-block;
  margin: 50px 0;
  width: 60%;
  color: white;
}
.main_title_container {
  font-size: 40px;
  padding-bottom: 50px;
  letter-spacing: 6px;
}
.diferencias_container strong {
  margin: 50px 0;
}
.diferencias_items_container{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: repeat(1,auto);
  gap: 40px;
}

.item {
  text-align: initial;
}
.item_layout {
  margin: 20px 0;
}
.item_title {
  font-size: 23px;
  letter-spacing: 2px;
}
.item_title strong i {
  padding-right: 10px;
}
.flower {
  width: 40vw;
  margin-bottom: 50px;
}


/**Diferencias estilos**/
/**hab page estilos**/
.habiwall {
  height: 100vh;
  background-image: url(./habiwallpaper.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.main_container {
  padding: 50px 0;
}

.main_container p {
  font-size: 40px;
}
.container_habi{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3,auto);
  width: 90%;
  margin: auto;
}
.card_habi {
  display: flex;
  padding: 40px 10px;
  margin: 15px;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
}
.card_habi p{
  font-size: 14px;
  margin: 5px 10px;
}
.images_hab {
  width: 100%;
  margin: 0 10px;
  border-radius: 10px;
  overflow: hidden;
}

.hab_overlay_container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(3,auto);
  margin: 0 10px;
  gap: 10px;
  width: 40%;
}
.title_hab_overlay_container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 5px;
}
.image_overlay_container {
  display: flex;
  margin: 5px;
  align-items: center;
  justify-content: center;
  width: 60%;
}
.hab_reservar_button {
  border-radius: 5px;
  font-size: 17px;
  border: 2px solid black;
  padding: 8px 30px;
  margin:0 5px;
  letter-spacing: 1.5px;
  margin-top: 5px;
}

.hab_reservar_button:hover {
  background-color: #033e6e;
  color: white;
  border: 2px solid white;
}

  /**hab page estilos**/
  

@media (max-width:1024px){

  /**nav querys**/ 
  .reservar_button{
    font-size: 15px;
  }
  .logorhwt{
    display: inline-block;
    width: 120px;
    margin-right: 10px;
  }
  /**nav querys**/ 
  /**hab querys**/
  .container_habi {
    display: inline-block;
  }

  /**hab querys**/
  /**home page **/
  .instalaciones_items_container{
    width: 90%;
  }
  .instalaciones_items{
    display: flex;
    flex-direction: column;
  }
  .text_insta_items p{
    max-width: none;
  }
  /** home page**/
  /** dif **/
  .diferencias_items_container {
    display: flex;
    flex-direction: column;
    height: auto;
  }
  .item {
    text-align: center;
    max-width: 300px;
  }
  /** dif **/
}
@media (max-width: 740px){

  /**nav querys**
  /**footer querys**/ 

  footer{
    display: inline-block;
  }
  .footer_item{
    margin-top: 40px;
  }
  .footer_logo{
    border-right: none;
  }
  .logorhf {
    border-bottom: 2px solid white;
  }

  /**footer querys**/ 
  /** hab page querys**/
  .card_habi{
    flex-direction: column;
    gap: 20px;
  }
  .hab_overlay_container {
    width: auto;
  }
  .image_overlay_container {
    width: auto;
  }
}


  
@media (max-width: 580px){
  /** nav querys**/

  /** nav querys**/
  /** hab page querys**/
  /** hab page querys**/
}


@media (max-width: 390px){
  /**nav querys**/ 
  .logorhwt{
    width: 90px;
  }
  .reservar_button {
    font-size: 20px;
    padding: 5px 15px;
  }
  .checkbtn{
    margin-right: 5px;
  }

  /**nav querys**/ 
  /** hab page querys**/

  /** hab page querys**/
}




