.App {
  text-align: center;
  font-family: 'Noodletitling';
}
@font-face {
  font-family: 'Noodletitling';
  src: url(./big_noodle_titling.ttf);
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

/**Nav **/
nav {
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  z-index: 50;
  position: fixed;
  align-items: center;
  color: black;
  background: rgb(248, 242, 242);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}
.menu_container {
  display: flex;
}
nav ul {
  position: fixed;
  width: 100%;
  height: 92%;
  background:#113151;
  top: 100px;
  right: -100%;
  text-align: center;
  transition: all .5s;
  z-index: 100;
  padding-left: 0;
  letter-spacing: 5px;
  background: rgb(106 5 20 / 95%);
  display: flex;
  justify-content: center;
  flex-direction: column;
}

nav ul li{
  display: flex;
  margin: 30px 0;
  line-height: 30px;
  justify-content: center;
  align-items: center;
  list-style: none;
}
nav ul li a {
  color: white;
  font-size: 25px;
  padding: 0;
  text-transform: none;
  text-decoration: none;
  cursor: pointer;
}

nav ul li a:hover {
  color: wheat;
}

#check:checked ~ ul {
  right:  0;
}




.name_main {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;

}

.name_main a {
  display: flex;
  text-decoration: none;
  color: black;
  justify-content: center;
  align-items: center;
  
}

.name_main a:hover{
  background: none;
}

.logo_container a:hover {
  background: none;
  cursor: pointer;
}

.logorhf {
  width: 300px;
}
.checkbtn {
  font-size: 50px;
  color: black;
  float: right;
  line-height: 10px;
  margin-right: 10px;
  cursor: pointer;
  display: block;
}
#check {
  display: none;
}
.reservar_button {
  border-radius: 5px;
  font-size: 17px;
  border: 2px solid white;
  padding: 8px 30px;
  letter-spacing: 1.5px;
  background: none;
  color: white;
}

.reservar_button i {
  padding-left: 5px;
}

.reservar_button:hover {
  background-color: whitesmoke;
  color: black;
  border: 1px solid rgba(255,255,255,.5);
}

.logorhwt {
  display: block;
}

/**Footer **/
footer {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3,auto);
  padding: 40px 20px;
  letter-spacing: 1px;
  color: white;
  background: #0b0b0b;
  
}

.footer_logo {
  grid-row: 1/3;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 2px solid white;
}

.footer_item {
  margin: 5px 30px;
}

.footer_item h4 {
  font-weight: 600;
}

.footer_item a {
  color: white;;
}
.footer_item a i {
  margin: 0 5px;
}

.footer_item a:hover {
  background: none;
  color: black;
}

/**Footer **/

/**Home**/
.hotelwall {
  height: 100vh;
  background-image: url(./hotelwallpaper.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.hotelwall::before{
    content:'';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.4);
}
.hotelwall_overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  border-radius: calc(.25rem - 1px);
  display: inline-flex;
  justify-content: flex-start;
  text-align: initial;
  align-items: center;
  color: white;
  font-size: 25px;
  margin: auto;
}
.hotelwall_overlay_text h1{
  font-size: 50px;
}
.hotelwall_overlay_text {
  font-size: 30px;
  margin: 0 50px;
}

/**Home**/

/**Nosotros estilos**/
.instalaciones_container {
  background-color: ghostwhite;
  color: #a0a0a0;
}
.instalaciones_overlay {
  padding-top: 150px;
  padding-bottom: 50px;
  text-align: center;
}
.instalaciones_overlay p {
  font-size: 45px;
}
.text_insta_items p {
  max-width: 500px;
  padding: 0 20px;
}

.instalaciones_items_container{
  padding: 20px 20px;
  text-align: initial;
  width: 70%;
  margin: auto;
}
.instalaciones_items {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-template-rows: repeat(3,auto);
  align-items: center;
  gap: 10px;
  margin: 40px 0;
  overflow: hidden;
}
.items_container {
  display: flex;
}
.items_img {
  width: 100%;
  border-radius: 8px;
}



/**Notros estilos**/

/**hab page estilos**/
.main_container {
  padding-top: 130px;
  margin-bottom: 50px;
}
.main_container p {
  font-size: 40px;
}
.container_habi{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3,auto);
  width: 90%;
  margin: auto;
}
.images_container {
  display: flex;
  padding: 40px 10px;
  margin: 15px;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}
.images_container p{
  font-size: 14px;
  margin: 5px 10px;
}
.images_hab {
  width: 100%;
  margin: 0 10px;
  border-radius: 10px;
}

.hab_overlay_container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(3,auto);
  margin: 0 10px;
  gap: 10px;
}
.title_hab_overlay_container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 5px;
}
.image_overlay_container {
  display: flex;
  margin: 5px;
  align-items: center;
  justify-content: center;
}
.hab_reservar_button {
  border-radius: 5px;
  font-size: 17px;
  border: 2px solid black;
  padding: 8px 30px;
  margin:0 5px;
  letter-spacing: 1.5px;
  margin-top: 5px;
}

.hab_reservar_button:hover {
  background-color: #033e6e;
  color: white;
  border: 2px solid white;
}

  /**hab page estilos**/
  

@media (max-width:1024px){

  /**nav querys**/ 
  .reservar_button{
    font-size: 15px;
  }
  .logorhwt{
    display: inline-block;
    width: 120px;
    margin-right: 10px;
  }
  /**nav querys**/ 
  /**hab querys**/
  .container_habi {
    display: inline-block;
  }

  /**hab querys**/
  /**home page **/
  .instalaciones_items_container{
    width: 90%;
  }
  .instalaciones_items{
    display: flex;
    flex-direction: column;
  }
  .text_insta_items p{
    max-width: none;
  }
  /** home page**/
}
@media (max-width: 740px){

  /**nav querys**
  /**footer querys**/ 

  footer{
    display: inline-block;
  }
  .footer_item{
    margin-top: 40px;
  }
  .footer_logo{
    border-right: none;
  }
  .logorhf {
    border-bottom: 2px solid white;
  }

  /**footer querys**/ 
  /** hab page querys**/
  .images_container{
    flex-direction: column;
    gap: 20px;
  }
}


  
@media (max-width: 580px){
  /** nav querys**/

  /** nav querys**/
  /** hab page querys**/
  /** hab page querys**/
}


@media (max-width: 390px){
  /**nav querys**/ 
  .logorhwt{
    width: 90px;
  }
  .reservar_button {
    font-size: 15px;
    padding: 5px 15px;
  }
  .checkbtn{
    margin-right: 5px;
  }

  /**nav querys**/ 
  /** hab page querys**/

  /** hab page querys**/
}




