.App {
  text-align: center;
  font-family: 'Noodletitling';
}
@font-face {
  font-family: 'Noodletitling';
  src: url(./big_noodle_titling.ttf);
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

/** Navbar **/
nav {
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  z-index: 50;
  position: fixed;
  background-color: white;
  align-items: center;
  color: black;
}
nav ul {
  float: right;
  margin-right: 20px;
  margin-bottom: 0;
}

nav ul li {
  display: inline-block;
  line-height: 80px;
  list-style: none;
  padding: 0 8px;
}
nav ul li a{
  color: black;
  font-size: 17px;
  padding: 0px 5px;
  border-radius: 3px;
  text-transform: uppercase;
  text-decoration: none;
}

a.active,a:hover {
  background: #033e6e;
  transition: .5s;
  color: white;
}

.name_main {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;

}

.name_main a {
  display: flex;
  text-decoration: none;
  color: black;
  justify-content: center;
  align-items: center;
  
}

.name_main a:hover{
  background: none;
}

.logo_container a:hover {
  background: none;
}

.logorh {
  width: 250px;
  margin: 0 20px;
  background: none;
}

.logorhf {
  width: 300px;
}
.checkbtn {
  font-size: 40px;
  color: black;
  float: right;
  line-height: 10px;
  margin-right: 10px;
  cursor: pointer;
  display: none;
}
#check {
  display: none;
}
.reservar_button {
  border-radius: 5px;
  font-size: 17px;
  border: 2px solid black;
  padding: 8px 30px;
  margin:0 5px;
  letter-spacing: 1.5px;
}

.reservar_button:hover {
  background-color: #033e6e;
  color: white;
  border: 2px solid white;
}

nav ul form button .fas{
  padding: 0 10px;
}
.logorhwt {
  display: none;
}
/** Navbar **/
/**Footer **/
footer {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3,auto);
  padding: 40px 20px;
  letter-spacing: 1px;
  color: white;
  background: #200122;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #6f0000, #200122);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #6f0000, #200122); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
}

.footer_logo {
  grid-row: 1/3;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 2px solid white;
}

.footer_item {
  margin: 5px 30px;
}

.footer_item h4 {
  font-weight: 600;
}

.footer_item a {
  color: white;;
}
.footer_item a i {
  margin: 0 5px;
}

.footer_item a:hover {
  background: none;
  color: black;
}

/**Footer **/

/**Home**/
.hotelwall {
  height: 100vh;
  background-image: url(./hotelwallpaper.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.hotelwall::before{
    content:'';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.4);
}
.hotelwall-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  border-radius: calc(.25rem - 1px);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 25px;
}
.hotelwall-overlay div h1 {
  font-size: 50px;
}
/**Home**/

@media (max-width:960px){

  /**nav querys**/ 
  
  nav ul li a {
    font-size: 15px;
  }
  .reservar_button{
    font-size: 15px;
  }
  .logorhwt{
    display: inline-block;
    width: 120px;
    margin-right: 10px;
  }
  .logorh {
    display: none;
  }

  /**nav querys**/ 
}
@media (max-width: 760px){

  /**nav querys**/ 

  nav ul {
    position: fixed;
    width: 100%;
    height: 100%;
    background:#113151;
    top: 100px;
    left: -100%;
    text-align: center;
    transition: all .5s;
    z-index: 100;
    padding-left: 0;
    padding-top: 160px;
    letter-spacing: 5px;
    background: rgb(106 5 20 / 95%);
  }
  nav ul li{
    display: flex;
    margin: 50px 0;
    line-height: 30px;
    justify-content: center;
    align-items: center;
  }
  nav ul li a {
    color: white;
    font-size: 25px;
    padding: 0;
    text-transform: none;
  }
  nav ul li .fas {
    display: none;
  }
  a:hover,a.active {
    background: none;
  }
  #check:checked ~ ul {
    left: 0;
  }
  .checkbtn {
    display: block;
  } 
  .reservar_button {
    display: inline-block;
  }

  /**nav querys**/ 

  /**footer querys**/ 

  footer{
    display: inline-block;
  }
  .footer_item{
    margin-top: 40px;
  }
  .footer_logo{
    border-right: none;
  }
  .logorhf {
    border-bottom: 2px solid white;
  }

  /**footer querys**/ 
}

@media (max-width: 400px){
  /**nav querys**/ 

  .logorhwt{
    width: 90px;
  }
  .reservar_button {
    font-size: 15px;
    padding: 5px 15px;
  }
  .checkbtn{
    margin-right: 5px;
  }

  /**nav querys**/ 
}




